.ant-card-cover{
    height: 9rem;
    overflow: hidden;
}
.dash-links a{
    display: block;
      margin: 30px 11pt;
      font-size: 17pt;
      background: #eee;
      padding: 11pt;
      border-radius: 3pt;
  }